header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #5f6e75;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

h1, p, label, h2, h3 {
  font-family: 'KoHo', sans-serif;
  color: black;
}

/* #header {
  background: url('dog-images/image.png');
  background-size: contain;
  width: 100%;
  min-height: 200px;
  
}

body {
  background: url('../../dog-images/image.png');
  background-size: contain;
  z-index: 999;
  background-color: none !important;
} */